{% extends "base.html" %}

{% block title %} CMIS 141 HW1 {% endblock %}


{% block content %}
<p><i>
(25 points) Write a Java program that calculates and displays the results of addition, subtraction,
multiplication, division, modulus, bitwise &, or bitwise | operation on two integer values input by the
user. The program should prompt the user for the two integers and the operation to be performed.
</i></p>

</br>
<div>
<p>Here is a sample run:</p>
<p>Enter the first integer: <var>24</var></p>
<p>Enter the second integer: <var>4</var></p>
<p>Enter the operation: <var>+</var></p>
<p><b>The results of 24 + 4 is 28</b></p>
</div>

{% endblock %}
